.sliding-background {
  margin-top: 0;
  z-index: -5;
  position: fixed;
  background: url("./images/20842368.jpg") repeat;
  height: 1440px;
  width: 23040px;
  animation: slide 120s linear infinite;
}

.font-style {
  text-align: center;
  font-family: "Kanit", sans-serif;
  color: rgb(149, 204, 230);
}

.spacer1 {
  height: 30em;
}

.spacer2 {
  height: 20em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.line-break {
  border-width: 0;
  background-color: rgb(54, 48, 48);
  max-width: 25%;
  height: 3px;
  color: grey;
  margin-bottom: 2em;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-7680px, 0, 0);
  }
}

@keyframes bgScroll {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100%;
  }
}
