

.font-style {
  text-align: center;
  font-family: "Kanit", sans-serif;
  color: rgb(149, 204, 230);
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.line-break {
  border-width: 0;
  background-color: rgb(54, 48, 48);
  max-width: 25%;
  height: 3px;
  color: grey;
  margin-bottom: 2em;
}

.move-in {
  margin-left: 10%;
  margin-right: 10%;
  opacity: 0;
  position: relative;
  animation: upIn 1s ease-out forwards;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-7680px, 0, 0);
  }
}

@keyframes bgScroll {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100%;
  }
}

@keyframes upIn {
  from {
    top: 400px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
