.img-me-pix {
  opacity: 1;
  background-color: rgb(18, 86, 143);
  border: solid 4px rgb(149, 204, 230);
  border-radius: 50%;
  margin-top: 1em;
  width: 164px;
}

.img-me-pix:hover {
  border: solid 4px rgb(76, 18, 236);
}

#tools {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  opacity: 0;
}

#tools img {
  width: 208px;
  height: 208px;
}
