.intro {
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../images/graychev.png");
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 5%;
  height: 800px;
}

.intro-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 900px;
}

.myName {
  font-size: 3rem;
}

.title {
  font-size: 1.75rem;
}

.desc {
  font-size: 1.5rem;
}

@media only screen and (max-width: 900px) {
  .intro-info {
    max-width: 600px;
  }
}

@media only screen and (max-width: 575px) {
  .desc {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 575px) {
  .intro-info {
    max-width: 400px;
  }
}
