.intro {
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../images/graychev.png");
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 5%;
  margin-bottom: 30em;
  height: 600px;
}

.intro-info {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 50%;
}

h1 {
  font-size: 4rem;
}

.title {
  font-size: 2rem;
}

.desc {
  font-size: 1.5rem;
}
